{% extends "layouts/base.html" %}
{% load bootstrap_tags %}

{% block title %}Enviar Prova{% endblock %}
{% block pagtitle%}Envio de Prova - CACo{%endblock%}
{% block css %} <link href="/static/css/envio_bp.css" rel="stylesheet"> {%endblock%}

{% block content %}

<p>
Utilize o formulário abaixo para enviar provas ao banco de provas. As submissões serão revisadas e estão sujeitas a aprovação.
</p>

<p>
Os campos marcados com "*" são obrigatórios.
</p>
<div>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="subject">Matéria *</label>
            <input type="text" class="form-control" name="materia" placeholder="Ex: ma111">
        </div>
        <div class="form-group">
            <label for="tipo">Tipo * </label>
            <input type="text" class="form-control" name="tipo" placeholder="Ex: p2 , p2_res">

        </div>
        <div class="form-group">
            <label for="semestre">Semestre</label>
            <input class="form-control" name="semestre" type="text" placeholder="Ex: 2014s2">
        </div>
        <div class="form-group">
            <label for="professor">Professor</label>
            <input class="form-control" name="professor" type="text" placeholder="">
        </div>

        <div class="form-group">
            <label for="prova">Arquivo *</label>
            <input type="file" name="prova">
            <p class="help-block">dê preferência a arquivos PDF.</p>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

{% if erro %}
    <div class="erro">
        Algum dos campos obrigatórios não foi preenchido
    </div>
{% endif %}


{% endblock %}
