django==1.10
django-analytical
django-ckeditor==5.2.1
django-forms-bootstrap
django-haystack
django-import-export
django-uwsgi[uwsgi]
gunicorn
pillow
psycopg2
pymysql
simplejson
unidecode
uwsgi
uwsgidecorators
