.comentario{
    background-color:#e1e1e1;
    padding:10px;
    border-top:2px solid #ccc;
    border-left:2px solid #ccc;
}
.time {
    background-color:#ddd;
    padding:5px;
    border-bottom:solid 2px #aaa;
    margin-bottom:10px;
}

