body {
    padding-top: 51px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */

}

footer {
    margin: 50px 0;
}


/* Responsive iFrame */
 
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
p img{
    overflow:hidden;
}
 
.responsive-iframe-container iframe,  
.vresponsive-iframe-container object, 
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#container-navbar{
    max-width:1150px;
    width:auto;
    
}
h1,h2,h3{
    font-family:Roboto;
}
.nav > li > a{
    font-family:Roboto;
}

.conteudo{
    margin-bottom:50px;
}

