{% extends "layouts/base.html" %}
{% load bootstrap_tags %}

{% block title %}Busca - CACo{% endblock %}
{% block pagtitle%}Busca em Atas{%endblock%}
{% block css %} <link href="/static/css/busca.css" rel="stylesheet"> {%endblock%}

{% block content %}

<div>
    <form action="{{URL_BASE}}/busca/ata/">
        <div class="input-group">
            <input type="text" class="form-control" name="q" placeholder="Busque em Atas">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" value="Search">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </form>
</div>


{% if query %}


<!-- Atas -->
<h2 >Atas</h2>
<div class="resultados">
    {% for ata in page.object_list %}
    <div style="margin-bottom:50px;">
        <h2>
            <a href="{{ URL_BASE }}/institucional/ata/{{ata.object.id}}">{{ ata.object.title }}</a>
        </h2>
        <p><span class="glyphicon glyphicon-time"></span> {{ ata.object.time|date:"D d M Y" }} {{ ata.object.time|time:"H:i" }}</p>

        <p>{{ata.object.content|truncatewords_html:40|safe}}</p>
        <a class="btn btn-primary" href="{{ URL_BASE }}/institucional/ata/{{ata.object.id}}">Continue lendo <span class="glyphicon glyphicon-chevron-right"></span></a>

        <hr>
    </div>
    {% empty %}
    <p>Nenhuma ata encontrada.</p>
    {% endfor %}
    {% endif %}
</div>


<ul class="pager">
    {% if page.has_previous %}
    <li class="pull-left">
    <a href="{{ URL_BASE }}/busca/ata/{{page.previous_page_number}}?q={{query}}">&larr; Página Anterior</a>
    </li>
    {% endif %}
    {% if page.has_next  %}
    <li class="pull-right">
    <a href="{{ URL_BASE }}/busca/ata/{{page.next_page_number}}?q={{query}}"> Próxima Página &rarr;</a>
    </li>
    {% endif %}

</ul>


{% endblock %}
