{% extends "layouts/base.html" %}
{% load bootstrap_tags %}


{% block title %}<a href="{{ URL_BASE }}/noticias" > Notícias</a>{% endblock %}
{% block subtitle %}{% endblock %}
{% block css %} 
<link href="/static/css/noticia.css" rel="stylesheet">
{% endblock %}




{% block content %}

<!-- Titulo -->
<h1>{{post.title}}</h1>
<div class="time">
    Adicionado em <span class="glyphicon glyphicon-time"></span> {{ post.time|date:"D d M Y" }} {{ post.time|time:"H:i" }}
</div>
{% if post.image %}
<img class="img-responsive" src="{{post.image.url}}" alt="">
<hr>
{% endif %}
<!-- Conteudo -->

<div class="conteudo">
    {{post.content|safe}}
    <hr>
</div>

<div class="well">
    <h4>Deixe seu comentário:</h4>
    <form role="form" method="POST">{% csrf_token %}
        {{ form|as_bootstrap }}
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
<hr>

<!-- Comentários  -->
{% if comments %}
{% for comment in comments %}
<div class="comentario media">
    <div class="media-body">
        <h4 class="media-heading">{{comment.author}}
            <small>{{ comment.time|date:"D d M Y" }} {{ comment.time|time:"H:i" }}</small>
        </h4>
        <p>
        {{comment.content|linebreaks}}
        </p>
    </div>
</div>
{%endfor%}
{% endif %}



{% endblock %}
