{% extends "layouts/base.html" %}
{% load bootstrap_tags %}

{% block title %}Contato{% endblock %}
{% block pagtitle%}Contato - CACo{%endblock%}
{% block css %} <link href="/static/css/ouvidoria.css" rel="stylesheet"> {%endblock%}

{% block content %}

<p>
Se você quiser falar com a gestão do CACo para adquirir produtos, tirar dúvidas, fazer sugestões, reclamações ou simplesmente jogar bilhar e conversa fora, pode comparecer a um dos nossos atendimentos nos seguintes horários:

<ul>
    <li>
        Terça-feira, das 12h30 às 13h30,
    </li>
    <li>
        Quarta-feira, das 18h às 19h.
    </li>
        
</ul>
        Todos os atendimentos ocorrem na sala do CACo no IC-3, que fica ao lado da estufa e no corredor para a sala de suporte. 
</p>
        
        
Se preferir, você também pode entrar em contato conosco através do e-mail:
<strong><h4>cac<span style="display:none">Capiva h4x0r</span>o@ic.unicamp.br</h4></strong>
        
Ou utilizar o formulário abaixo para mandar uma mensagem para o CACo sem precisar se identificar. 
</p>
<div>
    <form method="POST" action="{{URL_BASE}}/contato/ouvidoria/">{% csrf_token %}
        <div class="form-group">
            <label for="subject">Email (opcional)</label>
            <input type="text" class="form-control" name="email" placeholder="Email (opcional)">
        </div>
        <div class="form-group">
            <label for="subject">Assunto</label>
            <input type="text" class="form-control" name="subject" placeholder="Digite o Assunto">
            
        </div>
        <div class="form-group">
            <label for="subject">Mensagem</label>
            <textarea class="form-control" name="message" rows="9">Digite sua mensagem</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>


{% endblock %}
